@model CatalogItemViewModel
<div class="col-sm-8">
    <div class="prd-catalog-name">
        <h2>@Model.Name</h2>
    </div>
    <img class="prd-catalog-thumbnail" src="@Model.PictureUri" />
    <p class="prd-catalog-description">@Model.Description</p>
</div>
<div class="col-sm-4 prd-order-panel">
    <form asp-page="/Basket/Index" method="post">
        <h3>Order Now!</h3>
        <div class="prd-catalog-price">
            <span>@Model.Price.ToString("N2")</span>
        </div>
        @if (Model.CurrentStock > 0)
        {
            <input class="prd-catalog-button" type="submit" value="[ ADD TO BASKET ]" />
        }
        else
        {
            <div class="prd-catalog-button-disabled">[ OUT OF STOCK ]</div>
        }

        <input type="hidden" asp-for="@Model.Id" name="id" />
        <input type="hidden" asp-for="@Model.Name" name="name" />
        <input type="hidden" asp-for="@Model.PictureUri" name="pictureUri" />
        <input type="hidden" asp-for="@Model.Price" name="price" />
    </form>
</div>